.gallewaydiv {
	box-shadow: 0px 0px 10px;
	height: 500px;
	width: 250px;
	top: 100px;
	border-radius: 10px;
	padding: 5px;
}
.gallewayitem {
	width: 96px;
	height: 54px;
	box-shadow: 0px 0px 3px;
	margin: auto;
}
.gallewayscreen {
	box-shadow: 0px 0px 10px;
	width: 640px;
	height: 480px;
	border-radius: 10px;
}
.galleway {
	top: 100px;
	position: relative;
}